[Unit]
Description=calico-libnetwork
After=setup-network-environment.service docker.service etcd.service calico-node.service
Requires=setup-network-environment.service docker.service etcd.service calico-node.service

[Service]
EnvironmentFile=/etc/network-environment
EnvironmentFile=/etc/calico/calico.env
ExecStartPre=-/usr/bin/docker rm -f calico-libnetwork
ExecStart=/usr/bin/docker run --privileged \
 --net=host --rm \
 -v /run/docker/plugins:/run/docker/plugins \
 --name=calico-libnetwork \
 -e ETCD_AUTHORITY=${ETCD_AUTHORITY} \
 -e ETCD_SCHEME=${ETCD_SCHEME} \
 -e ETCD_CA_CERT_FILE=${ETCD_CA_CERT_FILE} \
 -e ETCD_CERT_FILE=${ETCD_CERT_FILE} \
 -e ETCD_KEY_FILE=${ETCD_KEY_FILE} \
 calico/node-libnetwork:latest
ExecStop=-/usr/bin/docker stop calico-libnetwork
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
