[Unit]
Description=convoy
After=setup-network-environment.service
Requires=setup-network-environment.service

[Service]
EnvironmentFile=/etc/network-environment
EnvironmentFile=/etc/convoy/convoy.env
ExecStart=/usr/bin/convoy daemon $CONVOY_OPTS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
