[Unit]
Description=Docker NFS, AWS EFS & Samba/CIFS Volume Plugin
Documentation=https://github.com/gondor/docker-volume-netshare
After=nfs-utils.service
Before=docker.service
Requires=nfs-utils.service

[Service]
EnvironmentFile=/etc/docker/netshare.env
ExecStart=/usr/bin/docker-volume-netshare $DKV_NETSHARE_OPTS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
