[Unit]
Description=headphones
Wants=docker.service network-online.target
Requires=docker.service calico-node.service docker-volume-netshare.service
After=sabnzbd.service

[Service]
TimeoutStartSec=20m
Restart=on-failure
EnvironmentFile=/etc/headphones/headphones.env
ExecStartPre=/usr/bin/docker volume create --name downloads-music
ExecStartPre=/usr/bin/docker volume create -d nfs --name %p -o share=${NFS_SHARE}
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p --net services \
    -v /etc/%p/config:/config \
    -v %p:/music \
    -v downloads-music:/downloads/music \
    -e PUID=0 \
    -e PGID=0 \
    -e TZ=Australia/Sydney \
    -p 8181:8181 \
    -l traefik.port=8181 \
    linuxserver/headphones"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
