[Unit]
Description=Nginx service
After=network.target docker.service setup-docker-network.service
Requires=docker.service setup-docker-network.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f nginx
ExecStart=/usr/bin/docker run --rm --name nginx -p 80:80 nginx
ExecStop=/usr/bin/docker stop nginx
Restart=on-failure
RestartSec=5
