[Unit]
Description=Setup Docker Network
Requires=docker.service consul.service
After=consul.service

[Service]
ExecStartPre=-/usr/bin/docker network rm services
ExecStartPre=-/usr/bin/docker network create --driver overlay --subnet 192.168.33.0/24 --gateway 192.168.33.1 services
ExecStart=/bin/bash -c '/usr/bin/docker network inspect services > /dev/null'
RemainAfterExit=yes
Type=oneshot
