[Unit]
Description=Setup Network Environment
Documentation=https://github.com/kelseyhightower/setup-network-environment
Requires=network-online.target
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker rm -f setup-network-environment
ExecStart=/usr/bin/docker run --name=setup-network-environment \
  --net=host --rm \
  -v /etc/setup-network-environment:/etc/setup-network-environment \
  -e SNE_DIR=/etc/setup-network-environment \
  webcanvas/setup-network-environment:0.0.1
ExecStop=-/usr/bin/docker stop setup-network-environment
RemainAfterExit=yes
Type=oneshot
