[Unit]
Description=Sonarr
Wants=docker.service network-online.target
Requires=docker.service calico-node.service docker-volume-netshare.service
After=sabnzbd.service

[Service]
TimeoutStartSec=20m
Restart=always
EnvironmentFile=/etc/sonarr/sonarr.env
ExecStartPre=/usr/bin/docker volume create --name downloads-tv
ExecStartPre=/usr/bin/docker volume create -d nfs --name %p -o share=${NFS_SHARE}
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p --net services \
    -v /dev/rtc:/dev/rtc:ro \
    -v /etc/%p/config:/config \
    -v %p:/tv \
    -v downloads-tv:/downloads/tv \
    -p 8989:8989 \
    -e PUID=0 \
    -e PGID=0 \
    -l traefik.port=8989 \
    --hostname %p \
    linuxserver/sonarr"
ExecStop=-/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
